<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>TiVo Butler v1.0</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>argument</key>
				<string>af</string>
				<key>value</key>
				<string>volume=13:1</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>of</string>
				<key>value</key>
				<string>lavf</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>demuxer</string>
				<key>value</key>
				<string>lavf</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>lavfdopts</string>
				<key>value</key>
				<string>probesize=128</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>oac</string>
				<key>value</key>
				<string>lavc</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>ovc</string>
				<key>value</key>
				<string>lavc</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>lavcopts</string>
				<key>value</key>
				<string>keyint=15:aglobal=1:vglobal=1:coder=1:vcodec=mpeg4:acodec=libfaac:vbitrate=1800:abitrate=128</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>vf</string>
				<key>value</key>
				<string>pp=lb,scale=640:480,harddup</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>o</string>
				<key>variable</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>variable</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>TiVo Butler v1.0 w/noskip</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>argument</key>
				<string>af</string>
				<key>value</key>
				<string>volume=13:1</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>of</string>
				<key>value</key>
				<string>lavf</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>demuxer</string>
				<key>value</key>
				<string>lavf</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>lavfdopts</string>
				<key>value</key>
				<string>probesize=128</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>oac</string>
				<key>value</key>
				<string>lavc</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>ovc</string>
				<key>value</key>
				<string>lavc</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>lavcopts</string>
				<key>value</key>
				<string>keyint=15:aglobal=1:vglobal=1:coder=1:vcodec=mpeg4:acodec=libfaac:vbitrate=1800:abitrate=128</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>vf</string>
				<key>value</key>
				<string>pp=lb,scale=640:480,harddup</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>noskip</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>o</string>
				<key>variable</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>variable</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>TiVo Butler v1.0 w/noskip and mc</string>
		<key>arguments</key>
		<array>
			<dict>
				<key>argument</key>
				<string>af</string>
				<key>value</key>
				<string>volume=13:1</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>of</string>
				<key>value</key>
				<string>lavf</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>demuxer</string>
				<key>value</key>
				<string>lavf</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>lavfdopts</string>
				<key>value</key>
				<string>probesize=128</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>oac</string>
				<key>value</key>
				<string>lavc</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>ovc</string>
				<key>value</key>
				<string>lavc</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>lavcopts</string>
				<key>value</key>
				<string>keyint=15:aglobal=1:vglobal=1:coder=1:vcodec=mpeg4:acodec=libfaac:vbitrate=1800:abitrate=128</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>vf</string>
				<key>value</key>
				<string>pp=lb,scale=640:480,harddup</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>noskip</string>
			</dict>
			<dict>
				<key>argument</key>
				<string>mc</string>
				<key>value</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>argument</key>
				<string>o</string>
				<key>variable</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>variable</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
